.home-layout {
  display: flex;
  flex-direction: row;
  background: #f9f9f9;
}

.sidebar {
  width: 250px;
  transition: width 0.3s ease;
  flex-shrink: 0;
}

.small-sidebar {
  width: 60px;
}

.container {
  flex: 1;
  padding: 20px;
  transition: all 0.3s ease;
}

.large-container {
  padding: 20px;
}

@media (max-width: 900px) {
  .large-container, .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}